<div (mousedown)="bgColor = true">
  <header class="header col-12 px-2 px-sm-0 d-flex  justify-content-between flex-wrap" style="height: 100px;">


    <div class="col-lg-2 col-3 navbar justify-content-center d-flex flex-md-row align-items-center">

      <button class="btn" routerLink=""
        style="border-radius: 10px; height: 40px; width: 99px; background-color: #2bae66; color: white; font-size: 12px;">
        عضویت

        | ورود</button>
    </div>
    <div class="searchBar  d-flex col-lg-7 col-4 justify-content-center align-items-center">
      <form class="example d-flex w-100">
        <div style="height: 44px; border-radius: 10px 10px 0px 0px;" [class]="{'dd':bgColor}"
          class="d-flex w-100 align-items-center border justify-content-end">
          <input class="searchInput justify-content-center border-0 col-11" type="text" (mouseup)="bgColor = false"
            placeholder="جستجو در بیش از 1,000,000 کتاب، کاربر و نویسنده" name="search2">
          <span class=" col-1 d-flex justify-content-center">
            <img width="20px" height="20px" src="../../assets/search.webp">
          </span>
        </div>
      </form>
    </div>
    <div class="col-lg-2 col-3 d-flex justify-content-center align-items-center">
      <img _ngcontent-serverapp-c79="" src="../../assets/Logo.svg" alt="بهخوان" class="pointer ng-tns-c79-0">
    </div>


  </header>
  <br style="height: 30px;">
  <div class="m-0 d-flex row justify-content-center">
    <div class="d-flex flex-wrap col-12 col-lg-3 col-md-6 w-100 justify-content-center">




      <div style="padding-top: 10px;" class="d-flex justify-content-center col-12">
        <img src="../../assets/Logo.svg">
      </div>
      <div class="d-flex justify-content-center w-100">

        <form [formGroup]="regCode" (ngSubmit)="submit()"
          class="form-container m-0 h-auto lh-1 rounded justify-content-center d-flex  flex-column form-group"
          id="formvalidation">
          <p class="w-100 text-center small-copy-regular black__shade-4 mt-10" style="    line-height: 1.5;
          font-size: 13px;
          padding-top: 10px;
          color: #9ba6ad!important;">پیامکی حاوی 4 رقم برای شماره موبایل {{phoneNumber}} ارسال شد. لطفاً کد دریافتی را
            وارد کنید.</p>
          <label for="fname"></label><br />


          <input formControlName="rCode" type="text" [value]="confirmCode"
            class=" p-3 w-100 border-1 rounded lh-lg inputstyle d-inline-block" placeholder="  کد  " /><br />
          <span>

          </span>





          <br>

          <button
            class="sign-up-btn signbtn  d-flex align-items-center justify-content-center p-3 lh-lg border-1 w-100 text-white "
            [disabled]="regCode.invalid" type="submit">
            ورود
          </button>
        </form>
      </div>
    </div>


  </div>

</div>
