@media (max-width: 768px) {
    .form-container{
      max-width: 400px;
    }
    .signbtn{
      max-width: 400px;
    }
    .searchBar{
      display: none!important;
    }

   
  }
  
  
  
  @media (min-width: 768px) and (max-width: 992px ) {
    .form-container{
      max-width: 400px;
    }
    .signbtn{
      max-width: 400px;
    }
  }
  
  
  @media (min-width: 992px) and (max-width: 1200px){
    .form-container{
      max-width: 400px;
    }
    .signbtn{
      max-width: 400px;
    }
  }
  
  
  @media (min-width: 1200px) and (max-width: 1400px){
    .form-container{
      max-width: 400px;
    }
    .signbtn{
      max-width: 400px;
    }
  }
  
  
  @media (min-width: 1400px) {
    .form-container{
      max-width: 400px;
    }
    .signbtn{
      max-width: 400px;
    }
  }
  input{
    border:1px solid gray !important;
  }